{% extends 'base.html' %}
{% block title %}Browse Files{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">📂 File Explorer</h1>
      <p class="lead">Browse files</p>
    </div>
</div>
<div class="card">
    <div class="card-header">💿 Uploads</div>
    <div class="card-body">
        <ul class="list-group">
        {% for file in files %}
            <li class="list-group-item"><a href="{{ url_for('static', filename='uploads/'+file) }}">{{ file }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}